@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Instructor
<h1>Are you sure you want to delete?</h1>

<form action="Delete" method="post">
    <div class="mb-3">
        <label asp-for="Id" class="form-label"> ID </label>
        <input asp-for="Id" class="form-control" disabled>
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label"> Last Name </label>
        <input asp-for="LastName" class="form-control" disabled>
    </div>
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"> First Name </label>
        <input asp-for="FirstName" class="form-control" disabled>
    </div>
    <div class="mb-3">
        <label asp-for="IsTenured" class="form-label"> IsTenured </label>
        <select asp-for="IsTenured" class="form-control" disabled>
            <option value="true">Permanent</option>
            <option value="false">Probationary</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="HiringDate" class="form-label"> Hiring Date </label>
        <input asp-for="HiringDate" class="form-control" disabled>
    </div>
    <div class="mb-3">
        <label asp-for="Rank" class="form-label"> Rank </label>
        <select asp-for="Rank" asp-items="Html.GetEnumSelectList(typeof(Rank))" class="form-control" disabled></select>
    </div>
    <button asp-action="Delete" class="btn btn-danger">Delete</button>
</form>