@{
    ViewData["Title"] = "About Page";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>

    <div>

        <h1>
            About Me
        </h1>

        <h2>
            Name
        </h2>

        <p>
            Miguel Carlo G. Fajardo
        </p>

        <h2>
            Email
        </h2>

        <p>
            miguelcarlo.fajardo.cics@ust.edu.ph
        </p>

        <h2>
            Role
        </h2>

        <p>
            Student
        </p>

        <h2>
            Phone
        </h2>

        <p>
            09124532684
        </p>

        <h2>
            Location
        </h2>

        <p>
            Pasig City
        </p>


    </div>
</body>
</html>
