@{
    ViewData["Title"] = "About Page";
    var Name = "Miguel Carlo G. Fajardo";
    var Email = "miguelcarlo.fajardo.cics@ust.edu.ph";
    var Role = "Student";
    var Number = "09124532684";
    var Location = "Pasig City";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>

    <div>

        <h1>
            About Me
        </h1>

        <h2>
            Name
        </h2>

        <p>
            Hi I'm @Name
        </p>

        <h2>
            Email
        </h2>

        <p>
            My email address is @Email
        </p>

        <h2>
            Role
        </h2>

        <p>
            I'm a @Role
        </p>

        <h2>
            Phone
        </h2>

        <p>
            You can contact me here: @Number
        </p>

        <h2>
            Location
        </h2>

        <p>
            I am currently located at @Location
        </p>


    </div>

    <div class="col-md-6">
    <center>
        <img src="~/css/picture.jpg" width="70%" style="border-radius: 10px;" alt="Picture">
    </center>
    </div>

</body>
</html>
